<h1><%= job.company %> </h1>


<h3> url </h3>
<a href="<%= job.url %>"><p><%= job.url %></p></a>


<h3> Address: </h3>
<p><%= job.location %></p>

<h3>Contac Name: </h3>
<p><%= job.personOfContact %></p>

<h3>Contac Name2:</h3>
 <p><%= job.personOfContact2 %></p>

<h3> Email(contact):</h3>
<p><%= job.email %></p>

<h3>Notes: </h3>
<p><%= job.notes%></p>

<h3>Phone Number:</h3>
<p><%= job.phone %></p>
<hr>
<a href="/jobs/<%= job._id %>/edit">
  Modify this company
</a>
<br>
<a href="/jobs">
< -- go back
</a>
<hr>
<form method="post" action="/jobs/<%= job._id %>/delete">
  <button> Delete </button>
</form>
