<h1>company list</h1>

<ul>

  <% job.forEach((oneJob)=> { %>
    <li>
      <%= oneJob.company %>
      <br>
        <%= oneJob.url %>
        <br>
          <%= oneJob.location %>
          <br>
            <%= oneJob.personOfContact %>
            <br>
              <%= oneJob.personOfContact2 %>
              <br>
                <%= oneJob.email %>
                <br>
                  <%= oneJob.notes %>
                  <br>
                    <%= oneJob.phone %>
                    <a href="/jobs/<%= oneJob._id %>">View Details</a>

    </li>
  <% }) %>
</ul>
<a href="/jobs/new">
 Add a company
</a>
